# COPY THIS FILE TO .env
PORT=3000

# LOCAL MYSQL EXAMPLE
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=DapaIT
DB_NAME=quresriverside

# IMPORTANT: change this before deploying online
SESSION_SECRET=ganti-dengan-random-string-yang-panjang-dan-rahasia

# Admin pertama akan dibuat otomatis jika belum ada
ADMIN_USERNAME=quresriverside
ADMIN_PASSWORD=kasir123
